.container {
    width: 960px ;
}
body {
  padding-top: 50px;
}
.home-image {
    padding-top : 50px;
    right: 20px;
}

.navbar {
    background-color : white;
    border : 0px;
 }

.navbar-nav > li>  a:hover{
    color: #9d9d9d !important;
}

.navbar-nav > .active > a {
    background-color : white !important;
    color : #E69500 !important;
}
#content {
    margin: 20px auto;
    padding-top : 100px;
    width: 845px;
}

.details {
    padding: 5px;
}

.details > h4 {
    font-size : 14px;
}

.details > p {
    font-size: 12px;
}
a.mosaic-overlay  {
    color : white;
    text-decoration : none;
    padding : 10 px;
}
.navbar-brand:hover {
    color :  #9d9d9d !important;
}
a.glow, a.glow:hover, a.glow:focus
{
	text-decoration: none;
	text-shadow: none;
	-webkit-transition: 300ms linear 0s;
	-moz-transition: 300ms linear 0s;
	-o-transition: 300ms linear 0s;
	transition: 300ms linear 0s;
	outline: 0 none;
}
a.glow:hover, a.glow:focus
{
	color: #E69500;
	text-shadow:   1px 3px 4px #CC9900, -1px 1px 4px #ffc;
}
.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

.navbar-collapse {
    padding-top:75px;
}

#title{
    color: #9d9d9d;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
    line-height: 20px;
    display: block;
    padding-right: 20px;
    font-weight: bold;
}
.carousel{
	height: 500px;
}
.carousel .item{
	height: 500px;
}

.carousel-control {
	color: #E69500;
}
.glyphicon-chevron-left {
    top:40% !important;
}
.glyphicon-chevron-right {
    top:40% !important;
}

.carousel-control:focus, .carousel-control:hover {
    color: #E69500;
}
.carousel-control.right {
	background-image : none;
}

.carousel-control.left {
	background-image : none;
}
.carousel-handles {
	position: absolute;
	bottom : 60px;
	width : inherit;
}
#left-handle {
	float: left;
}
#right-handle {
	float : right;
}
.item-desc{
	width : 70%;
	margin : auto;
}
.copyright {
    display:block;
    position: absolute;
    bottom: 20px;
    float: right;
    font-size: 10px;
}
.contact {
   padding: 50px;
  text-align: center;
  background-image: url('../images/contact.png');
  height: 250px;
}
