<div class="navbar navbar-inverse navbar-fixed-top text-center">
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
    <li><a href="{{ site.url}}/"id="title">Stella <span style="color: #E69500;">Z</span>arei</a></li>
    {% for link in site.navigation %}
      {% assign liclass = '' %}
      {% assign aclass='glow' %}
      {% if page.url == link.url %}
        {% assign liclass = 'active' %}
        {% assign aclass= nil %}
      {% endif %}
      <li class="{{ liclass }}"><a class="{{ aclass }}" href = "{{ site.url }}{{link.url}}" >{{ link.text }}</a></li>
      {% endfor %}
    </ul>
  </div><!--/.nav-collapse -->
</div>
</div>
